.logo {
    font-family: 'Raleway', sans-serif;
    font-size:26px;
}
.background {
    color: #fff;
    background-color: #2F303A;
}
.navigation-text {
    color: #212121;
}
.address-text-top {
    color: #757575;
}
.address-text-bottom {
    color: #ffffff99;
    text-decoration: none;
}
.fading-text {
    color: #757575;
}
/*Link*/
    .link {
    text-decoration:none;
    }
    .link:hover {
        color:var(--main-blue)
    }
    .link:focus {
        color: var(--main-blue)
    }
/* Index Page: przycisk zamówienia */
    .order-button {
        color: #fff;
        background-color:var(--main-blue);
        border-radius: 4px;
        border: none;
        width: 200px;
        height: 50px;
    }
    .order-button-text {
        font-weight: 700;
        font-size: 16px;
    }
    .order-button:hover {
        cursor: pointer;
    }
/*Portfolio page: przyciski*/
    .selector-button {
        color: #000;
        background-color: #f5f4fa;
        border-radius: 4px;
        border: none;
        width: 93px;
        height: 38px;
        cursor: pointer;
    }
    .selector-button:hover {
        background-color: var(--main-blue);
            color: #fff;
    }
    .selector-button:focus {
        background-color: var(--main-blue);
        color: #fff;
        cursor: pointer;
    }
/*Kolumny*/
    .column3 {
        columns: 3;
    }
    .column4 {
        columns: 4;
    }
    .column5 {
        columns: 5;
    }

.center {
    text-align: center;
}
.text18-700 {
    font-weight: 700;
    font-size: 18px;
}
.text14-700 {
    font-size: 14px;
    font-weight: 700;
}
.text16 {
    font-size: 16px;
}
.text36-700 {
    font-size: 36px;
    font-weight: 700;
}
.text44-900 {
    font-weight: 900;
    font-size: 44px;
}
/*Color palete*/
    :root {
        --main-blue: #2196F3
    }
   